DATABASE_URL=postgres://user:pass@host:5432/db
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_me

EMAIL_FROM=hello@lowtherlisteningcircle.com
EMAIL_SERVER_HOST=smtp.example.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=user
EMAIL_SERVER_PASS=pass

WEBFLOW_FORM_SECRET=change_me
AUTO_PROVISION_FROM_WEBFLOW=false
